.profile-edit-td {
    width: 350px;
}

.profile-edit-input {
    border-width: 1px;
    width: 300px;
}

.profile-edit-textarea {
    border-width: 1px;
    width: 520px;
    height: 250px;
}

.drag-area {
  width: 100%;
  min-width: 200px;
  height: 100%;
  min-height: 200px;
  border: 1px dotted rgba(0,0,0,0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;
}

.drag-area > input {
    opacity: 0;
}
